

#h1{
    width: 800px;
    height: 500px;
}


.big{
    height: 300px;
    width: 500px;
}
.small{
    height: 100px;
    width: 500px;
}
.top{
    background-color: gray;
}
.mid1{
    background-color: darkred;
}
.mid2{
    background-color: blue;
}
.mid3{
    background-color: limegreen;
}
.bottom{
    float: left;
    background-color: black;
}

.full{
    height: 100px;
    width: 100%;
}
._50part1{
    float: left;
    height: 200px;
    width: 50%;
    background-color: blueviolet;
}

._50part2{
    float: right;
    height: 200px;
    width: 50%;
    background-color: chartreuse;
}

._25part1{
    float: left;
    height: 200px;
    width: 25%;
    background-color:blueviolet;
}

._75part2{
    float: right;
    height: 200px;
    width: 75%;
    background-color: chartreuse;
}

._67part1{
    float: left;
    height: 200px;
    width: 66.66%;
    background-color:chartreuse;
}

._33part2{
    float: right;
    height: 200px;
    width: 33.33%;
    background-color: blueviolet;
}

.gray{
    height: 100%;
    width: 100%;
    background-color: gray;
}

.white{
    width: 400px;
    background-color: white;
    padding: 8px;
    border: 8px;
    border-radius: 4px;
    margin: 8px auto;
}

.heading{
    text-align: center;

}

.content{
    width: 70%;
    height: auto;
    background-color: white;
    padding: 8px;
    border: 8px;
    border-radius: 4px;
    margin: 8px;
    float: left;
}

.rtside{
    width: 15%;
    height: 670px;
    background-color: blue;
    padding: 8px;
    border: 8px;
    border-radius: 4px;
    margin: 8px;
    float: right;
}
.lfside{
    width: 15%;
    height: 670px;
    background-color: blue;
    padding: 8px;
    border: 8px;
    border-radius: 4px;
    margin: 8px;
    float: left;
}
.smallad{
    height:80px;
    width: 84%;
    margin: 8px 8px 32px 8px;
    padding:8px;
    border:4px;
    border-radius:4px;
    background-color: pink;
    float: right;
}